In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [153]:
df=pd.read_csv('games_85000_steam.csv')
df.head(5)

,AppID,Name,Release date,Estimated owners,Peak CCU,Required age,Price,DLC count,About the game,Supported languages,...,Average playtime two weeks,Median playtime forever,Median playtime two weeks,Developers,Publishers,Categories,Genres,Tags,Screenshots,Movies
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,0,19.99,0,Galactic Bowling is an exaggerated and stylize...,['English'],...,0,0,0,Perpetual FX Creative,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0,0.99,0,THE LAW!! Looks to be a showdown atop a train....,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Rusty Moyher,Wild Rooster,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
2,1732930,Jolt Project,"Nov 17, 2021",0 - 20000,0,0,4.99,0,Jolt Project: The army now has a new robotics ...,"['English', 'Portuguese - Brazil']",...,0,0,0,Campião Games,Campião Games,Single-player,"Action,Adventure,Indie,Strategy",NaN,https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
3,1355720,Henosis™,"Jul 23, 2020",0 - 20000,0,0,5.99,0,HENOSIS™ is a mysterious 2D Platform Puzzler w...,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Odd Critter Games,Odd Critter Games,"Single-player,Full controller support","Adventure,Casual,Indie","2D Platformer,Atmospheric,Surreal,Mystery,Puzz...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
4,1139950,Two Weeks in Painland,"Feb 3, 2020",0 - 20000,0,0,0.00,0,ABOUT THE GAME Play as a hacker who has arrang...,"['English', 'Spanish - Spain']",...,0,0,0,Unusual Games,Unusual Games,"Single-player,Steam Achievements","Adventure,Indie","Indie,Adventure,Nudity,Violent,Sexual Content,...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85103 entries, 0 to 85102
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AppID                       85103 non-null  int64
 1   Name                        85097 non-null  object
 2   Release date                85103 non-null  object
 3   Estimated owners            85103 non-null  object
 4   Peak CCU                    85103 non-null  int64
 5   Required age                85103 non-null  int64
 6   Price                       85103 non-null  float64
 7   DLC count                   85103 non-null  int64
 8   About the game              81536 non-null  object
 9   Supported languages         85103 non-null  object
 10  Full audio languages        85103 non-null  object
 11  Reviews                     9743 non-null   object
 12  Header image                85103 non-null  object
 13  Website                     39452 non-null  object
 14  Support url                 41592 non-null  object
 15  Support email               71510 non-null  object
 16  Windows                     85103 non-null  bool
 17  Mac                         85103 non-null  bool
 18  Linux                       85103 non-null  bool
 19  Metacritic score            85103 non-null  int64
 20  Metacritic url              3912 non-null   object
 21  User score                  85103 non-null  int64
 22  Positive                    85103 non-null  int64
 23  Negative                    85103 non-null  int64
 24  Score rank                  44 non-null     float64
 25  Achievements                85103 non-null  int64
 26  Recommendations             85103 non-null  int64
 27  Notes                       13021 non-null  object
 28  Average playtime forever    85103 non-null  int64
 29  Average playtime two weeks  85103 non-null  int64
 30  Median playtime forever     85103 non-null  int64
 31  Median playtime two weeks   85103 non-null  int64
 32  Developers                  81517 non-null  object
 33  Publishers                  81269 non-null  object
 34  Categories                  80505 non-null  object
 35  Genres                      81548 non-null  object
 36  Tags                        64003 non-null  object
 37  Screenshots                 83097 non-null  object
 38  Movies                      78650 non-null  object
dtypes: bool(3), float64(2), int64(14), object(20)
memory usage: 23.6+ MB

In [155]:
df.isna().sum()

AppID                             0
Name                              6
Release date                      0
Estimated owners                  0
Peak CCU                          0
Required age                      0
Price                             0
DLC count                         0
About the game                 3567
Supported languages               0
Full audio languages              0
Reviews                       75360
Header image                      0
Website                       45651
Support url                   43511
Support email                 13593
Windows                           0
Mac                               0
Linux                             0
Metacritic score                  0
Metacritic url                81191
User score                        0
Positive                          0
Negative                          0
Score rank                    85059
Achievements                      0
Recommendations                   0
Notes                         72082
Average playtime forever          0
Average playtime two weeks        0
Median playtime forever           0
Median playtime two weeks         0
Developers                     3586
Publishers                     3834
Categories                     4598
Genres                         3555
Tags                          21100
Screenshots                    2006
Movies                         6453
dtype: int64

In [156]:
df.dropna(subset=['Name'], inplace=True)
df.dropna(subset=['About the game'], inplace=True)
df.dropna(subset=['Genres'], inplace=True)
df.dropna(subset=['Categories'], inplace=True)
df.dropna(subset=['Publishers'], inplace=True)

In [157]:
df['Release date'] = pd.to_datetime(df['Release date'])
df = df[df['Release date'].dt.year == 2023]

len(df)

13950

In [158]:
remove_18_S = df[df['Tags'].str.contains('Sexual', case=False, na=False)]
df.drop(remove_18_S.index,inplace=True)

In [159]:
remove_18_N = df[df['Tags'].str.contains('Nudity', case=False, na=False)]
df.drop(remove_18_N.index,inplace=True)

In [160]:
remove_18_V = df[df['Tags'].str.contains('Violent', case=False, na=False)]
df.drop(remove_18_V.index,inplace=True)

In [161]:
df['Name'] = df['Name'].str.replace('[^\w\s]', '')

In [162]:
df['Genres'] = df['Genres'].str.replace(',', ' ')
df['Categories'] = df['Categories'].str.replace(',', ' ')

In [163]:
df = df.reset_index(drop=True)

---

In [164]:
df_meta = df[['Name']]
df_meta.head()

                   Name
0            Death Corp
1         Transcendence
2                BOSSES
3  LOST EGG 3 The Final
4           Mecha Blade

In [165]:
def combine_metadata(row):
    return str(row['Genres']) + ' ' + str(row['Categories']) + ' ' + str(row['Publishers']) + ' ' + str(row['About the game'])

In [166]:
df_meta['metadata'] = df.apply(combine_metadata, axis=1)
df_meta.head()

                   Name                                           metadata
0            Death Corp  Adventure Single-player A.C. Art is a young co...
1         Transcendence  Adventure Indie RPG Single-player 烧糊梦工厂 Intro:...
2                BOSSES  Action Free to Play Indie Single-player Falmi ...
3  LOST EGG 3 The Final  Action Adventure Casual Indie Single-player Mu...
4           Mecha Blade  Action Adventure RPG Single-player Michael Ric...

In [167]:
def to_lower(text):
    return text.lower()

In [168]:
contractions_dict = {     
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"I'd": "I had",
"I'd've": "I would have",
"I'll": "I will",
"I'll've": "I will have",
"I'm": "I am",
"I've": "I have",
"isn't": "is not",
"it'd": "it had",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "iit will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that had",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there had",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they had",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

def remove_contraction(text):

    list_kata = text.split()
    list_hasil = []

    for kata in list_kata:

        if kata in contractions_dict.keys():
            list_hasil.append(contractions_dict[kata])
        else:
            list_hasil.append(kata)

    hasil = ' '.join(list_hasil)
    return hasil

In [169]:
def remove_number(text):
    hasil = ''.join([char for char in text if not char.isnumeric()])
    return hasil

In [170]:
from string import punctuation

def remove_punctuation(text):
    hasil = ''.join([char for char in text if char not in punctuation])
    return hasil

In [171]:
import nltk
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
stop_words.remove('not')

def remove_stopwords(text):
    hasil = ' '.join([word for word in text.split() if word not in stop_words])
    return hasil

In [172]:
def remove_whitespace(text):
    hasil = ' '.join(text.split())
    return hasil

---

In [173]:
df_meta['metadata'] = df_meta['metadata'].apply(to_lower)
df_meta['metadata'] = df_meta['metadata'].apply(remove_contraction)
df_meta['metadata'] = df_meta['metadata'].apply(remove_number)
df_meta['metadata'] = df_meta['metadata'].apply(remove_punctuation)
df_meta['metadata'] = df_meta['metadata'].apply(remove_stopwords)
df_meta['metadata'] = df_meta['metadata'].apply(remove_whitespace)

df_meta.head()

                   Name                                           metadata
0            Death Corp  adventure singleplayer ac art young college gr...
1         Transcendence  adventure indie rpg singleplayer 烧糊梦工厂 intro g...
2                BOSSES  action free play indie singleplayer falmi boss...
3  LOST EGG 3 The Final  action adventure casual indie singleplayer mul...
4           Mecha Blade  action adventure rpg singleplayer michael rich...

In [174]:
from nltk.stem import SnowballStemmer, WordNetLemmatizer 

lemmatizer = WordNetLemmatizer()

def lemmatize(text):

    list_hasil = []

    for sentence in nltk.sent_tokenize(text):   # pecah paragraf menjadi kalimat-kalimat
        for word in nltk.word_tokenize(sentence): # pecah kalimat menjadi kata-kata
            list_hasil.append(lemmatizer.lemmatize(word))   # ubah kata ke kata dasarnya

    hasil = ' '.join(list_hasil)
    return hasil

In [175]:
df_meta['metadata'] = df_meta['metadata'].apply(lemmatize)
df_meta.head()

                   Name                                           metadata
0            Death Corp  adventure singleplayer ac art young college gr...
1         Transcendence  adventure indie rpg singleplayer 烧糊梦工厂 intro g...
2                BOSSES  action free play indie singleplayer falmi boss...
3  LOST EGG 3 The Final  action adventure casual indie singleplayer mul...
4           Mecha Blade  action adventure rpg singleplayer michael rich...

In [176]:
df_meta['metadata'][0]

'adventure singleplayer ac art young college graduate looking first serious job series unsuccessful interview grim reaper materializes front art eye impressed young man skill offer job intern company death corp meet ton ridiculous character recollect soul recently passed away sometimes push forward fate solving outrageous hilarious puzzle dark humor bright color scene divided independent chapter constant reference film book genre pop culture classic point click game feature classic pointandclick adventure way like wicked story full fantasy humor handdrawn background character interface mixed frame frame squeleton animation play demo'

In [177]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize

In [178]:
tf = CountVectorizer(stop_words='english', tokenizer=word_tokenize) 
bow = tf.fit_transform(df_meta['metadata'])

In [179]:
idx = 0

content = df_meta.loc[idx, 'metadata']
watched = tf.transform([content])
watched

<1x78096 sparse matrix of type '<class 'numpy.int64'>'
	with 75 stored elements in Compressed Sparse Row format>

In [180]:
from sklearn.metrics.pairwise import cosine_distances

dist = cosine_distances(watched, bow)
dist

array([[1.33226763e-15, 8.76262355e-01, 9.20970495e-01, ...,
        8.87413245e-01, 8.50695330e-01, 9.32047041e-01]])

In [181]:
rec_idx = dist.argsort()[0, 1:11]
rec_idx

array([ 5527,  5503, 12490,  1069, 13117,  2708,  9188,  3429,  9368,
        5952], dtype=int64)

In [182]:
df_meta = df_meta.reset_index(drop=True)
df_meta.loc[rec_idx]

,Name,metadata
5527,Johnny Rocketfingers Complete Game Collection,adventure free play indie rpg strategy singlep...
5503,Puzzle Adventures,adventure casual singleplayer steam achievemen...
12490,Powers in the Basement,adventure indie singleplayer steam achievement...
1069,Delirium,indie singleplayer steam achievement full cont...
13117,Nexus Travelers Hero of Elocea,adventure casual rpg singleplayer flurki game ...
2708,The MisAdventures of Xenos,action adventure rpg singleplayer full control...
9188,Light City District,action adventure indie singleplayer full contr...
3429,Project Dark,adventure indie rpg singleplayer steam achieve...
9368,The Unlikely Prometheus,adventure singleplayer partial controller supp...
5952,Grim Tales Echo of the Past,adventure casual singleplayer big fish game el...

In [183]:
df_meta['image_link'] = df['Header image']
df_meta.head()

,Name,metadata,image_link
0,Death Corp,adventure singleplayer ac art young college gr...,https://cdn.akamai.steamstatic.com/steam/apps/...
1,Transcendence,adventure indie rpg singleplayer 烧糊梦工厂 intro g...,https://cdn.akamai.steamstatic.com/steam/apps/...
2,BOSSES,action free play indie singleplayer falmi boss...,https://cdn.akamai.steamstatic.com/steam/apps/...
3,LOST EGG 3 The Final,action adventure casual indie singleplayer mul...,https://cdn.akamai.steamstatic.com/steam/apps/...
4,Mecha Blade,action adventure rpg singleplayer michael rich...,https://cdn.akamai.steamstatic.com/steam/apps/...

In [184]:
df_meta['image_link'][4]

'https://cdn.akamai.steamstatic.com/steam/apps/2254310/header.jpg?t=1672583047'

In [185]:
df_meta.to_csv('games_steam_clean.csv', index=False)

In [186]:
import pickle

pickle.dump(tf, open('tf.pkl', 'wb'))
pickle.dump(bow, open('bow.pkl', 'wb'))